<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="Description" content="{{ description }}" />

    <!-- website colors -->
    <link rel="stylesheet" type="text/css" href="/css/colors.css" />

    <!-- base definitions -->
    <link rel="stylesheet" type="text/css" href="/css/base.css" />

    <!-- fonts -->
    <link rel="stylesheet" type="text/css" href="/font/lm_regular/stylesheet.css" />
    <link rel="stylesheet" type="text/css" href="/font/lm_bold/stylesheet.css" />
    <link rel="stylesheet" type="text/css" href="/font/lm_italic/stylesheet.css" />

    <!-- syntax highlighting color scheme -->
    <link rel="stylesheet" type="text/css" href="/css/prism.css" />

    <title>{{ title }}</title>
  </head>
  <body>
    <!-- header -->
    {% include "header.html" %}

    <div id="content">{{ content }}</div>

    <!-- footer -->
    {% include "footer.html" %}
  </body>
</html>